<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search results for <%= searchQuery %> </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
<%# To search movies: First split the movie title, then compare word by word to the search query. %>
<%# Shows only one movie per search %>
  <% function bigramize(title) {
        let bigrams = [];
        for (let i = 0; i < title.length - 1; i++) {
            bigrams.push(title.substring(i, i + 2));
        }
        return bigrams;
    } 
    
    function jaccard_similarity(bigrams1, bigrams2) {
        const set1 = new Set(bigrams1);
        const set2 = new Set(bigrams2);
        const intersection = new Set([...set1].filter(x => set2.has(x)));
        const union = new Set([...set1, ...set2]);
        return intersection.size / union.size;
    }
    function correctQuery(searchQuery) {
    let searchWords = searchQuery.toLowerCase().split(' ');

    let mostSimilarWords = searchWords.map(() => ({ word: null, similarity: 0 }));

    for (let i = 0; i < movies.length; i++) {
        let titleWords = movies[i].Title.toLowerCase().replace(/[^a-z0-9\s]/gi, '').split(' ');

        for (let j = 0; j < searchWords.length; j++) {
            for (let k = 0; k < titleWords.length; k++) {
              if (titleWords[k].length <= 3) {
                    continue;
                }
                let bigramSearchWord = bigramize(searchWords[j]);
                let bigramTitleWord = bigramize(titleWords[k]);
                let wordSimilarity = jaccard_similarity(bigramSearchWord, bigramTitleWord);

                if (wordSimilarity > mostSimilarWords[j].similarity) {
                    mostSimilarWords[j] = { word: titleWords[k], similarity: wordSimilarity };
                }
            }
        }
    }

    let correctedQuery = mostSimilarWords.map(item => item.word ? item.word : searchWords[mostSimilarWords.indexOf(item)]);

    return correctedQuery.join(' ');
}
function findMovie(correctedQuery) {
    let queryWords = correctedQuery.toLowerCase().split(' ');

    let bestMatch = null;
    let maxSimilarity = 0;

    for (let i = 0; i < movies.length; i++) {
        let titleWords = movies[i].Title.toLowerCase().replace(/[^a-z0-9\s]/gi, '').split(' ');

        let matchingWords = queryWords.filter(word => titleWords.includes(word));

        if (matchingWords.length / queryWords.length >= 0.8) {
            return movies[i];
        }

        let bigramQueryWords = queryWords.map(word => bigramize(word));
        let bigramTitleWords = titleWords.map(word => bigramize(word));

        let totalSimilarity = 0;
        for (let j = 0; j < bigramQueryWords.length; j++) {
            let maxWordSimilarity = 0;
            for (let k = 0; k < bigramTitleWords.length; k++) {
                let wordSimilarity = jaccard_similarity(bigramQueryWords[j], bigramTitleWords[k]);

                if (wordSimilarity > maxWordSimilarity) {
                    maxWordSimilarity = wordSimilarity;
                }
            }
            totalSimilarity += maxWordSimilarity;
        }

        let averageSimilarity = totalSimilarity / queryWords.length;

        if (averageSimilarity > maxSimilarity) {
            maxSimilarity = averageSimilarity;
            bestMatch = movies[i];
        }
    }

    return bestMatch;
}

%>
<% 
// checking
let correctedQuery = correctQuery(searchQuery);
let movieToAdded = findMovie(correctedQuery);
// console.log(correctedQuery);
// console.log(movieToAdded.Image['280w']);
%>
<%- include('./../templates/navbar.ejs', {loginDisplay:"block", signupDisplay:"block"}) %>
<div class="movie-container" style="margin: 20px;">
  <h2 class="text-center mt-3">Best Result for <%= searchQuery %></h2>
  <div class="row mb-3 text-center">
    <%- include('./../templates/eachMovieCard.ejs', {movieToAdded : [movieToAdded], i:0, myratings}) %>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>