/**
 * 
 * 
 * This CSS file contains styles for movie cards in a web page.
 * 
 * The styles include:
 * - Hover effect on card images
 * - Border radius and box shadow for card images
 * - Fade-in effect for card elements
 * - Hover effect on card titles
 * - Background color for the body
 * - Styling for the card container
 * - Flexbox layout for the row container
 */
.card img:hover {
    transform: scale(1.03);
    transition: transform 0.5s;
    cursor: pointer;
}

.card img {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* To add some fadeIn effect when card is loaded */
.card {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.card-title:hover {
    cursor: pointer;
    color: rgb(16, 88, 88);
}

body {
    background-color: #e3fef7cd !important;
}

.card {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}